{% load static %}

<section><!--NAVBAR-->
    <div  class="grid-navbar" >
    <div class="logo"><img src="{% static 'Imagens/Frame.svg' %}" alt="" width="40%"></div>
    <nav class="menu">
        <a href="{% url 'index' %}"><strong>HOME</strong></a>
        <a href=#quemsomos><strong>QUEM SOMOS</strong></a>
        <a href=#serviços><strong>SERVIÇOS</strong></a>
        <a href=#section-pacotes><strong>PACOTES</strong></a>
        <a href=#contatos><strong>CONTATOS</strong></a>
    </nav>
    </div>
</section><!--FIM DE NAVBAR-->