<form id="contact-form"><!--Contact form-->

    <p>
        
        <input type="text" name="name" id="name" required placeholder="Nome">
    </p>
    <p>
        
        <input type="text" name="telefone" id="company" placeholder="Telefone">
    </p>
    <p class="full">
        <input type="email" name="email" id="email" required placeholder="E-mail">
    </p>
    <p class="full">
        
        <input type="text" name="assunto" id="phone" placeholder="Assunto">
    </p>
    <p class="full">
        <textarea name="message" rows="5" id="message" placeholder="Menssagem"></textarea>
    </p>
    <p class="full">
        <button type="submit">Enviar</button>
    </p>
</form>