{% load static %}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes para o banco</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <span>
            <p>LOGO</p>
        </span>
        <ul id = "header-mainnav">
            <li><a href="{% url 'index' %}">HOME</a></li> <!-- ALTEREI AQUI, NO LUGAR DE STATIC É URL  -->
            <li><a href="#quem-somos">QUEM SOMOS</a></li>
            <li><a href="#servicos">SERVÇOS</a></li>
            <li><a href="#portifolio">PORTIFÓLIO</a></li>
            <li><a href="#contatos">CONTATOS</a></li>
        </ul>
    </header>
    
    <br>
    
    <section id = "header-home" >
            {% for Painel in painel %}
            <center><h2>{{ Painel.sloganPainel }}</h2> <!-- dps alterar com código python para o BD -->
            <img src="{{ Painel.imagePainel.url }}" alt=""></p>
            </center>
            {% endfor %} 
    </section>
    <br>
    
    <section id = "quem-somos" >
        <center><h3>Quem Somos</h3></center>
        <center>
            <img src="{{ quemSomos.imageQuemSomos.url }}" alt=""> <!-- dps alterar com código python para o BD -->
            <h4>{{ quemSomos.titulo }}</h4> <!-- dps alterar com código python para o BD -->
            <p>{{ quemSomos.apresentacao }}</p>
        
        </center>
    </section>
    
    <br>
    
    <section id = "servicos" >
        <center><h3>Serviços</h3></center>
        {% for servicos in servico %}
        <img src="{{ servicos.imageServico.url }}" alt="">
        <h4>{{servicos.nome}}</h4> <!-- dps alterar com código python para o BD -->
        <p>{{servicos.descrição_do_servico}}</p> <!-- dps alterar com código python para o BD -->
        <p>Custo do serviço</p>
        <p>{{servicos.preço}}</p></center>
        {% endfor %}
    </section>

    <br>
    
    <section id = "portifolio" >
        <center><h3>Portifólio</h3></center>
        {% for Portifolio in portifolio %}
        <img src="{{ Portifolio.imagePortifolio.url }}" alt="">
        <h4>Título modificável:</h4> <!-- dps alterar com código python para o BD -->
        <p>{{Portifolio.descricaoPortifolio}}</p></center> <!-- dps alterar com código python para o BD -->
        {% endfor %}
    </section>

    <br>
    
    <section id = "contatos" >
        <center><h3>Contatos</h3></center> <!-- dps alterar com código python para o BD -->
        {% for contatos in contato %}
        <center><p>Email: {{ contatos.email }}</p> <!-- dps alterar com código python para o BD -->
                <p>Celular: {{ contatos.celular }}</p> <!-- dps alterar com código python para o BD -->
                <p>Telefone: {{ contatos.telefone }}</p></center> <!-- dps alterar com código python para o BD -->
        {% endfor %}
    </section>

    <br>
    <br>
    <!--  FORM DE ENVIO  -->
    <center><form id="contato" action="" method="post">
        <label for="nome">
            Nome:
            <input type="text" name="nome" id="nome">
        </label>
        <label for="email">
            Email:
            <input type="text" name="email" id="email">
        </label>
        <label for="assunto">
            Assunto:
            <input type="text" name="assunto" id="assunto">
        </label>
        <label for="mensagem">
            Mensagem:
            <textarea name="mensagem" id="mensagem" cols="30" rows="10"></textarea>
        </label>
        <button type="submit">Enviar</button>
    </form></center>

</body>
</html>