{% load static %}
<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes para o banco</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <span>
            <p>LOGO</p>
        </span>
        <ul id = "header-mainnav">
            <li><a href="{% url 'index' %}">HOME</a></li> <!-- ALTEREI AQUI, NO LUGAR DE STATIC É URL  -->
            <li><a href="#quem-somos">QUEM SOMOS</a></li>
            <li><a href="#servicos">SERVÇOS</a></li>
            <li><a href="#portifolio">PORTIFÓLIO</a></li>
            <li><a href="#contatos">CONTATOS</a></li>
        </ul>
    </header>
    
    <br>
    
    <section id = "header-home" >
            {% for valoresPainel in painel %}
            <center><h2>{{ valoresPainel.sloganPainel }}</h2> <!-- dps alterar com código python para o BD -->
            <img src="{{ valoresPainel.imagePainel.url }}" alt=""></p>
            </center>
            {% endfor %} 
    </section>
    <br>
    
    <section id = "quem-somos" >
        <center><h3>Quem Somos</h3></center>
        <center>
            <p>Imagem modificável pelo adm</p>
            <img src="{{ quemSomos.imageQuemSomos.url }}" alt=""> <!-- dps alterar com código python para o BD -->
            <h4>{{ quemSomos.titulo }}</h4> <!-- dps alterar com código python para o BD -->
            <p>{{ quemSomos.apresentacao }}</p>
        
        </center>
    </section>
    
    <br>
    
    <section id = "servicos" >
        <center><h3>Serviços</h3></center>
        <center><p>Imagem modificável pelo admin</p> <!-- dps alterar com código python para o BD -->
        {% for servicos in servico %}
        <img src="{{ servicos.imageServico.url }}" alt="">
        <h4>{{servicos.nome}}</h4> <!-- dps alterar com código python para o BD -->
        <p>{{servicos.descrição_do_servico}}</p> <!-- dps alterar com código python para o BD -->
        <p>Custo do serviço</p>
        <p>{{servicos.preço}}</p></center>
        {% endfor %}
    </section>

    <br>
    
    <section id = "portifolio" >
        <center><h3>Portifólio</h3></center>
        <center><p>Imagem modificável pelo admin</p> <!-- dps alterar com código python para o BD -->
        {% for v_Portifolio in portifolio %}
        <img src="{{ v_Portifolio.imagePortifolio.url }}" alt="">
        <h4>Título modificável:</h4> <!-- dps alterar com código python para o BD -->
        <p>{{v_Portifolio.descricaoPortifolio}}</p></center> <!-- dps alterar com código python para o BD -->
        {% endfor %}
    </section>

    <br>
    
    <section id = "contatos" >
        {% for contatos in contato %}
        <center><h3>Contatos</h3></center> <!-- dps alterar com código python para o BD -->
        <center><p>Email: {{ contatos.email }}</p> <!-- dps alterar com código python para o BD -->
                <p>Celular: {{ contatos.celular }}</p> <!-- dps alterar com código python para o BD -->
                <p>Telefone: {{ contatos.telefone }}</p></center> <!-- dps alterar com código python para o BD -->
        {% endfor %}
    </section>

    <br>

    <section id = "redes-sociais" >
        {% for redes_sociais in redesSociais %}
            <center>
                <h4>{{ redes_sociais.nomeRS }}</h4>
                <p>{{ redes_sociais.link }}</p>
            </center>
        {% endfor %}
    </section>

</body>
</html>