<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testes para o banco</title>
    <style>
        *{border: 0; padding: 0; margin: 0;list-style: none; text-decoration: none;}
        body{width: 100%; background-color: cornsilk;}
        header{background-color: lightgreen; width: 100%; height: 25px; font-weight: bolder;}
        header span{float: left;margin-left: 50px; color: brown;}
        header ul{display: flex; float: right; margin-right: 50px;} 
        header li{margin-right: 20px;}a{color: brown;}
        section{color: brown;;}
    </style>
</head>
<body>
    <header>
        <span>
            <p>LOGO</p>
        </span>
        <ul id = "header-mainnav">
            <li><a href="#">HOME</a></li>
            <li><a href="#">QUEM SOMOS</a></li>
            <li><a href="#">SERVÇOS</a></li>
            <li><a href="#">PORTIFÓLIO</a></li>
            <li><a href="#">CONTATOS</a></li>
        </ul>
    </header>
    <br>
    <section id = "header-home" >
            <center><h3>O CAMINHO PARA A SUA APROVAÇÃO</h3></center> <!-- dps alterar com código python para o BD -->
    </section>
    <br>
    <section id = "quem-somos" >
        <center><h3>Quem Somos</h3></center>
        <center><p>Imagem modificável pelo admin</p> <!-- dps alterar com código python para o BD -->
        <h4>Título modificável:</h4> <!-- dps alterar com código python para o BD -->
        <p>Ladainha modificável pelo admin</p></center> <!-- dps alterar com código python para o BD -->
    </section>
    <br>
    <section id = "servicos" >
        <center><h3>Serviços</h3></center>
        <center><p>Imagem modificável pelo admin</p> <!-- dps alterar com código python para o BD -->
        <h4>Título modificável:</h4> <!-- dps alterar com código python para o BD -->
        <p>Ladainha modificável pelo admin</p></center> <!-- dps alterar com código python para o BD -->
    </section>
    <br>
    <section id = "portifolio" >
        <center><h3>Portifólio</h3></center>
        <center><p>Imagem modificável pelo admin</p> <!-- dps alterar com código python para o BD -->
        <h4>Título modificável:</h4> <!-- dps alterar com código python para o BD -->
        <p>Ladainha modificável pelo admin</p></center> <!-- dps alterar com código python para o BD -->
    </section>
    <br>
    <section id = "contatos" >
        <center><h3>Contatos</h3></center> <!-- dps alterar com código python para o BD -->
        <center><p>Email:</p> <!-- dps alterar com código python para o BD -->
                <p>Celular:</p> <!-- dps alterar com código python para o BD -->
                <p>Telefone</p> <!-- dps alterar com código python para o BD -->
                <p>Redes Sociais</p></center> <!-- dps alterar com código python para o BD -->
    </section>
</body>
</html>